ac-comphist.dat
eshell/lastdir
eshell/history
el-get/
elpa/
tramp
ido.last
ensime
recentf
network-security.data
projectile-bookmarks.eld
url
amx-items
tutorial
session.*
bookmarks
transient/
mozc/
emacs-client
packages/ignore.el
.*