[submodule "editorconfig-emacs"]
	path = editorconfig-emacs
	url = git://github.com/editorconfig/editorconfig-emacs.git
[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "vendor/Highlight-Indentation-for-Emacs"]
	path = vendor/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/exec-path-from-shell"]
	path = vendor/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "vendor/less-mode"]
	path = vendor/less-mode
	url = https://github.com/myfreeweb/less-mode.git
[submodule "vendor/popwin"]
	path = vendor/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "vendor/direx"]
	path = vendor/direx
	url = https://github.com/m2ym/direx-el.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "vendor/ruby-electric"]
	path = vendor/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "vendor/tabbar"]
	path = vendor/tabbar
	url = https://github.com/dholm/tabbar.git
[submodule "vendor/emacs-slim"]
	path = vendor/emacs-slim
	url = https://github.com/slim-template/emacs-slim.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "vendor/ruby-block.el"]
	path = vendor/ruby-block.el
	url = https://github.com/adolfosousa/ruby-block.el.git
[submodule "vendor/flycheck"]
	path = vendor/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "vendor/ruby-block"]
	path = vendor/ruby-block
	url = https://github.com/adolfosousa/ruby-block.el.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/ag.el"]
	path = vendor/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "vendor/Emacs-wgrep"]
	path = vendor/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "vendor/s.el"]
	path = vendor/s.el
	url = https://github.com/magnars/s.el
[submodule "vendor/s"]
	path = vendor/s
	url = https://github.com/magnars/s.el
[submodule "vendor/wgrep"]
	path = vendor/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "vendor/ag"]
	path = vendor/ag
	url = https://github.com/Wilfred/ag.el
[submodule "vendor/enhanced-ruby-mode"]
	path = vendor/enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode.git
