ac-comphist.dat
eshell/lastdir
eshell/history
el-get/
elpa/
tramp
ido.last
ensime
.cask
recentf
.python-environments
network-security.data
projectile-bookmarks.eld
url
amx-items
tutorial
session.*
.lsp-session*